* {
    padding: 0;
    margin: 0;
    font-family: HeliosCondC, sans-serif;
}
/* COMMON */
.big-text {
    font-size: 64px;
}
.medium-text {
    font-size: 40px;
}
.small-text {
    font-size: 30px;
}
.bold {
    font-weight: bold;
}
.normal {
    font-weight: normal;
}
.light {
    font-weight: 100;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.wrapper {
    min-width: 1300px;
}
.clear {
    clear: both;
}
.f-left {
    float: left;
}
.f-right {
    float: right;
}
.inline-block {
    display: inline-block;
}

/* HEADER */
.header {
    display: grid;
    grid-template-columns: calc(50% - 285px) 570px calc(50% - 285px);

}

/*LEFT HEADER PART*/
.left-header {
    background-color: #19355b;
    color: white;
    text-align: right;
    padding: 21px 60px 21px 0;
}
/*MIDDLE HEADER PART*/
.middle-header {
    padding-left: 70px;
}

/*RIGHT HEADER PART*/
.right-header a{
    color: #e84042;
    text-decoration: underline;
}

.middle-header div p, .right-header div p{
    font-size: 20px;
}
.middle-header div h2, .right-header div h2 {
    font-size: 30px;
}
.middle-header img, .right-header img {
    margin-right: 35px;
    margin-top: 46px;
}

/*MAIN BLOCK*/
.main {
    background-image: url('../img/mainbg.jpg');
    background-position: top center;
    background-size: 1920px auto;
}
.main h1 {
    font-size: 72px;
    text-transform: uppercase;
    color: white;
    margin-left: 90px;
    padding-top: 50px;
}
.main p {
    font-size: 50px;
    color: #fff;
    width: 512px;
    margin: 0 auto;
    margin-top: 70px;
}
.main table {
    width: 540px;
    margin: 0 auto;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    margin-top: 61px;
}
.main table tr td {
    text-align: center;
    vertical-align: middle;
    padding: 50px 0;
}
.main .number, .main .measure {
    color: #ffc733;
}
.main .number {
    font-size: 60px;
}
.main .measure {
    font-size: 30px;
}